<body>
  <link rel="stylesheet" href="/style.css" type="text/css">

</body>

<header>

  <nav class="primary-navigation" data-visible="false" id="left">
  <a href="/register">SignUp</a>
  </nav>
</header>

<div class="loginpage">
<h1 class="loginH">
  Login Page
</h1>
<form action="/login" method="POST">
  <label for="username">UserName</label>
  <input type="text" placeholder="username" id="xyz" name="username">
  <label for="password">Password</label>
  <input type="password" placeholder="password" id="password" name="password">
  <button>Login</button>
  
</form>
</div>
<ul>
</ul>