<link rel="stylesheet" href="/style.css" type="text/css">
<header>

  <nav class="primary-navigation" data-visible="false" id="left">
  <a href="/login">Login</a>
  </nav>
</header>
<div class="registerpage">
<h1>
  SignUp Page
</h1>
<form action="/register" method="POST">
  <div class="item">
  <label for="username">UserName</label>
  <input type="text" id="username" name="username">
</div>
<div class="item2">
  <label for="password">Password</label>
  <input type="password" id="password" name="password">
</div>
  <div class="item3">
  <label for="phone">Mobile No:-</label>
  <input type="text" name="phone" id="phone">
</div>
  <div class="item4">
  <label for="telephone">TelePhone No:-</label>
  <input type="text" name="telephone" id="telephone">
  <button>Submit</button>
</div>

  
</form>
</div>
<ul>
  
</ul>